@import "../global.css";
@import "../components/loader.css";
@import "../components/sidebar.css";
@import "../components/searchbar.css";
@import "../components/input.css";
@import "../components/button.css";
@import "../components/dialog.css";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add,close,delete,info,logout,mail,person,search");

body {
    display: flex;
    flex-direction: row;
}

.dismiss {
    display: none !important;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 span {
    color: var(--positive-color);
}

#exit, #exit span {
    color: var(--negative-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 32px 16px 32px 16px;
}

header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header .input-container {
    width: 50%;
}

header .user-info {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
}

#noprojects {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    padding: 32px;
    overflow-x: hidden;
}

.projects h2 {
    margin-bottom: 16px;
}

.projects ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    list-style: none;
}

.projects li {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--disabled-color);
    cursor: pointer;
    display: flex;
    position: relative;
}

.projects li:hover {
    background-color: var(--hover-color);
}

.projects li .icons {
    display: none;
    margin: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.projects li:hover .icons {
    display: block;
}

.projects li .icons span {
    color: var(--disabled-dark-color);
    font-size: medium;
}

.projects li .icons .info:hover {
    color: var(--neutro-color);
}

.projects li .icons .delete:hover {
    color: var(--negative-color);
}

.dialog {
    position: relative;
    overflow: hidden;
    width: 20vw;
}

#dialog-notif .dialog {
    width: 35vw;
}

#dialog-delete div {
    display: flex;
    flex-direction: row;
}

#dialog-delete div input {
    width: 50%;
    margin: 8px;
}

.notification-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-container button {
    width: 64px;
    height: 32px;
    border: none;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.message {
    font-size: larger;
}

.accept {
    background-color: var(--positive-color);
}
.accept:hover {
    cursor: pointer;
    background-color: var(--positive-dark-color);
}

.ignore {
    background-color: var(--negative-color);
}
.ignore:hover {
    cursor: pointer;
    background-color: var(--negative-dark-color);
}

#sharerphoto {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#project {
    color: var(--positive-color);
}
#project:hover {
    cursor: pointer;
    color: var(--positive-dark-color);
}

#dialog-profile .dialog {
    width: 70%;
    height: 70%;
}

#dialog-profile .dialog input {
    height: 20px;
    width: 25%;
    padding: 5px;
    font-size: 14px;
    margin: 0;
}

.personal {
    display: flex;
    align-items: center;
}

.security button {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-width: 1.5px;
}

.security button:hover {
    background-color: rgb(227, 227, 227);
    cursor: pointer;
}

.support h3 {
    color: red;
    cursor: pointer;
}

.pfp {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 16px;
}

.dialog .input-container, .dialog input[type=submit] {
    width: 100%;
    margin-top: 16px;
}

.dialog h3 {
    margin-bottom: 6px;
}

.dialog h2 {
    margin-bottom: 18px;
}

#dialog-profile .dialog h2 {
    margin: 10px 0;
}

#dialog-profile .dialog h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.dialog .fill {
    flex-grow: 1;
}

@media (max-width: 1200px) {
    .projects ul { grid-template-columns: repeat(4, 1fr); }
}
  
@media (max-width: 999px) {
    .projects ul { grid-template-columns: repeat(3, 1fr); }
}
  
@media (max-width: 768px) {
    .projects ul { grid-template-columns: repeat(2, 1fr); }
}
  
@media (max-width: 600px) {
    .projects ul { grid-template-columns: 1fr; }
}