<aside class="sidebar">
    <div class="login-section">
        <span class="material-symbols-rounded login-icon">person</span>
        <h2>Login</h2>
    </div>

    <nav class="main-nav">
        <ul>
            <li>
                <a href="#home" class="active" draggable="false">
                    <span class="material-symbols-rounded">home</span>
                    <span>Início</span>
                </a>
            </li>
            <li>
                <a href="#catalog" draggable="false">
                    <span class="material-symbols-rounded">grid_view</span>
                    <span>Catálogo</span>
                </a>
            </li>
            <li>
                <a href="#achievements" draggable="false">
                    <span class="material-symbols-rounded">trophy</span>
                    <span>Conquistas</span>
                </a>
            </li>
            <li>
                <a href="#settings" draggable="false">
                    <span class="material-symbols-rounded">settings</span>
                    <span>Ajustes</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="library-section">
        <div class="library-header">
            <h3>BIBLIOTECA</h3>
            <span class="material-symbols-rounded play-icon">play_circle</span>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Buscar" />
        </div>

        <ul class="game-list">
            <li>
                <div class="game-icon" style="background-color: #2b5b84">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm6bXarbVTlFpwB7nuh3JgIFqzr32ZC5tjWw&s"
                        alt="Balatro" class="game-icon">
                </div>
                <span>Balatro</span>
            </li>
            <li>
                <div class="game-icon" style="background-color: #900000">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReIolmMmJFeghquNQCipd5anXmjbVaxByp1A&s"
                        alt="Super Meat Boy" class="game-icon">
                </div>
                <span>Super Meat Boy</span>
            </li>
        </ul>
    </div>
</aside>
